
.contenedorHeaderProductos{

    &__nuestrosProductosTitulo {
        padding-top: 75px;
        padding-bottom: 30px;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        color: #fff;
        
    }
}

