.contenedorSectionAbtUs {
    font-family: 'Poppins', sans-serif;
    background: #EDE9E1;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__imgAbtUs {
        margin: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;


        .Abt_us-img1 {
            background: url(../assets/abt-us1.jpg);
            background-size: cover;
            border-radius: 5px;
            border: #000 solid 2px;
        }

        .Abt_us-img2 {
            background: url(../assets/abt-us2.jpg);
            background-size: cover;
            border-radius: 5px;
            border: #000 solid 2px;
        }

        .Abt_us-img3 {
            background: url(../assets/abt-us3.jpg);
            background-size: cover;
            border-radius: 5px;
            border: #000 solid 2px;
        }

        .Abt_us-img4 {
            background: url(../assets/abt-us4.jpg);
            background-size: cover;
            border-radius: 5px;
            border: #000 solid 2px;
        }
    }

    &__txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        padding-left: 30px;
        text-align: left;

        h2 {
            font-size: 55px;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 30px;
        }

        p {
            font-size: 25px;
            color: #707070;
            padding-bottom: 30px;
        }
    }

    
    }
